.about-container {
  padding: 2rem;
  flex: 1;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  background-color: black;
  color: white;
}

.about-title {
  text-align: center;
  /* color: #2c3e50; */
  margin-bottom: 1rem;
}

.about-description {
  text-align: center;
  /* color: #666; */
  margin-bottom: 3rem;
}

.team-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem;
}

.member-card {
  /* background: #f8f9fa; */
  border-radius: 12px;
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s ease;
}

.member-info h3 {
  /* color: #2c3e50; */
  margin: 0;
  font-size: 1.4rem;
}

.member-info p {
  /* color: #666; */
  margin: 0.5rem 0 0;
  font-size: 0.9rem;
  line-height: 1.5;
}